:root {
  --primary-color: #0d0b52;
  --secondary-color: #3458b9;
  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #292922;
  --white-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #325b97;
    --secondary-color: #9cafeb;
    --font-color: #e1e1ff;
    --bg-color: #000013;
    --heading-color: #818cab;
  }
}

/* Layout */
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--font-color);
}

.container {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 0 1rem;
}

.container-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Using custom properties */
a {
  text-decoration: none;
  color: var(--primary-color);
}

p {
  font-size: 1.2rem;
  margin: 1rem 0;
  line-height: 1.5;
}

header {
  padding: 1rem 0;
  border-bottom: 0.5px solid var(--primary-color);
}

.logo {
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 800;
}

.toggle-button-container {
  display: flex;
  align-items: center;
}

.toggle-button-container em {
  margin-left: 10px;
  font-size: 1rem;
}

.toggle-button-label {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.toggle-button-label .toggle-button {
  display: none;
}

.toggle-rounded {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.toggle-rounded:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .toggle-rounded {
  background-color: #9cafeb;
}

input:checked + .toggle-rounded:before {
  transform: translateX(26px);
}

article {
  margin-top: 2rem;
}

.title {
  font-size: 3rem;
  color: var(--font-color);
}

.info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.tags {
  margin-right: 1rem;
}

.tags span {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}
