* {
  border: 0;
}

:root {
  --primary: #0076c6;
  --secondary: #333333;
  --error: #ce0606;
  --success: #009070;
  --white: #ffffff;
}

/* base style for all buttons */
.btn {
  padding: 1rem 1.5rem;
  background: transparent;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* variations */
.btn-primary {
  background: var(--primary);
  color: var(--white);
}

.btn-secondary {
  background: var(--secondary);
  color: var(--white);
}

.btn-success {
  background: var(--success);
  color: var(--white);
}

.btn-error {
  background: var(--error);
  color: var(--white);
}

.btn-link {
  color: var(--primary);
}
