* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

.flex {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.person {
  background-color: skyblue;
  padding: 5px;
  margin-top: 5px;
  font-size: 1.6rem;
}
