/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --color-text: #efefee;
  --color-background: #2c3333;
  --color-light: #404646;
  --color-highlight: #606060;
  --color-shadow: #282e2e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: sans-serif;
  font-size: 2rem;
  line-height: 1;
}

.icon {
  width: 2.4rem;
}

/***********************/
/* Header              */
/***********************/

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid var(--color-shadow);
  padding: 0.8rem 1.2rem 0.4rem 1.2rem;

  position: fixed;
  top: 0;
  background-color: var(--color-background);
  width: 100%;

  transition: all 0.2s ease-in;
}

.nav-bible {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.btn {
  /* display: block; */
  border: none;
  cursor: pointer;

  font-size: 2rem;
  padding: 0.8rem;
  color: var(--color-text);
  background: none;
}

.btn--bible-book {
  background-color: var(--color-light);
  border-radius: 50rem 0 0 50rem;
  padding: 0.8rem 1.2rem 0.8rem 1.6rem;
}

.btn--bible-translation {
  background-color: var(--color-light);
  border-radius: 0 50rem 50rem 0;
  padding: 0.8rem 1.6rem 0.8rem 1.2rem;
}

/***********************/
/* Content             */
/***********************/

.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  padding: 8rem 2.4rem;
  /* font-size: ; */
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

/***********************/
/* Footer              */
/***********************/

footer {
  position: fixed;
  width: 100%;
  bottom: 0;

  transition: all 0.2s ease-in;
}

.nav-chapters {
  display: flex;
  justify-content: space-between;
  padding: 0 0.8rem;
  margin-bottom: 0.8rem;
}

.btn--chapter-previous,
.btn--chapter-next {
  background-color: var(--color-light);
  border-radius: 50rem;
  padding: 1.2rem;
  line-height: 0;
}

.nav-app {
  display: flex;
  justify-content: space-between;
  padding: 0 1.6rem;
  border-top: 0.1rem solid var(--color-light);
  background-color: var(--color-background);
}

.btn--nav-app:link,
.btn--nav-app:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;

  color: var(--color-highlight);
  text-decoration: none;
}

.active:link,
.active:visited {
  color: var(--color-text);
}

/***********************/
/* scrolling styles    */
/***********************/

header.scrolling {
  padding: 0.8rem 0 0.4rem 1.6rem;
}

.scrolling .nav-bible {
  gap: 0.8rem;
}

.scrolling .btn--bible-book,
.scrolling .btn--bible-translation {
  border-radius: 0;
  padding: 0;
  background-color: var(--color-background);
}

.scrolling .btn--utils-formatting,
.scrolling .btn--utils-search {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}

footer.scrolling {
  transform: translateY(100%);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}
