/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --color-orange-light: #fff4e6;
  --color-orange-dark: #ff922b;
  --color-lime-1: #e9fac8;
  --color-lime-2: #c0eb75;
  --color-lime-3: #94d82d;
  --color-lime-4: #74b816;
  --color-lime-5: #5c940d;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-orange-light);
  background-color: var(--color-orange-dark);
}

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  /* background-color: var(--color-orange-light); */
  width: 100%;
  padding-top: 100%;
}

.span-3 {
  grid-column: span 3;
  grid-row: span 3;
}

.span-2 {
  grid-column: span 2;
  grid-row: span 2;
}

.lime-1 {
  background-color: var(--color-lime-1);
}

.lime-2 {
  background-color: var(--color-lime-2);
}

.lime-3 {
  background-color: var(--color-lime-3);
}

.lime-4 {
  background-color: var(--color-lime-4);
}

.lime-5 {
  background-color: var(--color-lime-5);
}
