/* --- desktops and common --- */
:root {
  --form-box-padding: 8px;
  --form-box-flex-gap: 8px;
  --form-input-font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-box {
  display: flex;
  justify-content: flex-end;
  gap: var(--form-box-flex-gap);
  padding: var(--form-box-padding);
  background-color: #333;
  text-align: center;
}

.form-box input,
.form-box button {
  font-size: var(--form-input-font-size);
  padding: 8px;
  margin-right: 4px;
}

.form-box input {
  outline: none;
  border: none;
}

.form-box button {
  border: none;
  background-color: #edae39;
}

/* --- tablets --- */
@media screen and (min-width: 601px) and (max-width: 900px) {
  :root {
    --form-box-padding: 20px 12px 20px 12px;
    --form-box-flex-gap: 12px;
    --form-input-font-size: 14px;
  }

  .form-box input,
  .form-box button {
    display: block;
    width: 100%;
  }
}

/* --- mobiles --- */
@media screen and (max-width: 600px) {
  :root {
    --form-box-padding: 24px;
    --form-box-flex-gap: 12px;
    --form-input-font-size: 20px;
  }

  .form-box {
    flex-direction: column;
  }

  .form-box input,
  .form-box button {
    display: block;
  }
}
